Repository SDSU-CompE-561-Fall-2025/aztec-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  autofix_commit_msg: "fix(pre_commit): ðŸŽ¨ auto format pre-commit hooks"
  autoupdate_commit_msg: "chore(pre_commit): â¬† pre_commit autoupdate"

repos:
  # Common hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix]

  # Backend Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
        files: ^backend/.*\.py$
      - id: check-builtin-literals
        files: ^backend/.*\.py$
      - id: check-docstring-first
        files: ^backend/.*\.py$
      - id: check-toml
        files: ^backend/.*\.toml$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/src/.*\.py$
      - id: ruff-format
        files: ^backend/src/.*\.py$

  # Frontend JavaScript/TypeScript hooks
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd frontend && bunx prettier --write'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true
      
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && bunx eslint --fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add pre-commit hook scripts
  .pre-commit-config.yaml
  .pre-commit-hooks/run-eslint.py
  .pre-commit-hooks/run-prettier.py
Due: none

Update pre-commit scripts
  .pre-commit-hooks/run-eslint.py
  .pre-commit-hooks/run-prettier.py
Due: none

Add custom error state
  frontend/src/components/custom/ErrorState.tsx
Due: frontend-prettier, frontend-eslint

Use custom error state on homepage, dedupe arrays, and fix potential runtime issues
  frontend/src/app/listings/page.tsx
Due: frontend-prettier, frontend-eslint

Autofix line endings
  .pre-commit-config.yaml
Due: none

Use custom error state on homepage; update listingsParam type
  frontend/src/app/page.tsx
  frontend/src/types/listing/listingParams.ts
Due: frontend-prettier, frontend-eslint

SearchFilters: dedupe data and fix potential runtime issues
  frontend/src/components/listings/SearchFilters.tsx
Due: frontend-prettier, frontend-eslint

Formatting and best practices across frontend
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/custom/header.tsx
  frontend/src/components/custom/search.tsx
  frontend/src/components/listings/ListingCard.tsx
  frontend/src/components/listings/PaginationControls.tsx
  frontend/src/components/listings/SearchResults.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/nav-projects.tsx
  frontend/src/components/nav-secondary.tsx
  frontend/src/components/nav-user.tsx
  frontend/src/components/search-form.tsx
  frontend/src/components/site-header.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/queryOptions/createListingQueryOptions.ts
  frontend/src/types/listing/filters/condition.ts
  frontend/src/types/listing/filters/sort.ts
Due: frontend-prettier, frontend-eslint

Handle sanitation (through backend)
  frontend/src/components/custom/header.tsx
Due: frontend-prettier, frontend-eslint

Simplify pre-commit scripts
  .pre-commit-hooks/run-eslint.py
  .pre-commit-hooks/run-prettier.py
Due: none

Make breadcrumbs dynamic
  frontend/src/components/site-header.tsx
Due: frontend-prettier, frontend-eslint

Fix warnings
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/ui/breadcrumb.tsx
Due: frontend-prettier, frontend-eslint

Update pre-commit rules
  .pre-commit-config.yaml
Due: none

Update editor integration for monorepo
  .vscode/extensions.json
  .vscode/settings.json
  frontend/.editorconfig
  frontend/.vscode/settings.json
Due: frontend-prettier

Update markdown settings and README
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
Due: none

Remove unnecessary dev print
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/package.json
Due: frontend-prettier

Add auth logic
  frontend/src/app/providers.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuthenticatedFetch.ts
  frontend/src/lib/auth.ts
  frontend/src/types/auth.ts
Due: frontend-prettier, frontend-eslint

Update backend validation
  backend/src/app/schemas/user.py
Due: none

Add login and sign up pages
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/ui/card.tsx
Due: frontend-prettier, frontend-eslint

Add protected routes and update header components
  frontend/src/components/custom/ProtectedRoute.tsx
  frontend/src/components/custom/header-client.tsx
  frontend/src/components/custom/header.tsx
Due: frontend-prettier, frontend-eslint

Update dashboard page
  frontend/src/app/dashboard/page.tsx
Due: frontend-prettier, frontend-eslint

create basic profile functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/listings/create/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/listings/ProfileListingCard.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/lib/api.ts
  frontend/src/queryOptions/createUserListingsQueryOptions.ts
  frontend/src/types/listing/userListingsParams.ts
Due: frontend-prettier, frontend-eslint

add sonner notifications && add listing editing
  frontend/src/app/profile/page.tsx
  frontend/src/components/listings/ProfileListingCard.tsx
  frontend/src/lib/api.ts
Due: frontend-prettier, frontend-eslint

allow users to update, hide, and delete listings from their profile page
  frontend/src/app/listings/[listing_id]/edit/page.tsx
  frontend/src/components/listings/ImageUploadPlaceholder.tsx
  frontend/src/components/listings/ProfileListingCard.tsx
  frontend/src/components/product-detail-01.tsx
  frontend/src/lib/api.ts
  frontend/src/types/listing/listing.ts
  frontend/src/types/listing/listingUpdate.ts
Due: frontend-prettier, frontend-eslint

create tab navigation, fix hidden listings, add listing creation form
  frontend/src/app/listings/create/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/lib/api.ts
  frontend/src/queryOptions/createOwnListingsQueryOptions.ts
Due: frontend-prettier, frontend-eslint

update backend route to support file upload instead of simply httpurl type
  frontend/src/app/listings/[listing_id]/edit/page.tsx
  frontend/src/app/listings/create/page.tsx
  frontend/src/components/listings/ImageUpload.tsx
  frontend/src/lib/api.ts
  frontend/src/types/listing/listing.ts
Due: frontend-prettier, frontend-eslint

update backend route to support file upload instead of simply httpurl type
  .gitignore
  backend/.gitignore
  backend/src/app/core/settings.py
  backend/src/app/core/storage.py
  backend/src/app/main.py
  backend/src/app/routes/listing_images.py
  backend/src/app/schemas/listing_image.py
  backend/src/app/services/listing_image.py
Due: none

allow images to be rendered and placeholder if no image
  backend/src/app/schemas/listing.py
  frontend/src/components/listings/ImageUpload.tsx
  frontend/src/components/listings/ListingCard.tsx
  frontend/src/components/listings/ProfileListingCard.tsx
  frontend/src/lib/constants.ts
Due: frontend-prettier, frontend-eslint

Make pre-commit scripts more robust
  .pre-commit-hooks/run-eslint.py
  .pre-commit-hooks/run-prettier.py
Due: none

Update frontend categories to match backend
  frontend/src/lib/utils.ts
  frontend/src/types/listing/filters/category.ts
Due: frontend-prettier, frontend-eslint

Remove unused dashboard
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/nav-projects.tsx
  frontend/src/components/nav-secondary.tsx
  frontend/src/components/nav-user.tsx
  frontend/src/components/search-form.tsx
  frontend/src/components/site-header.tsx
Due: frontend-prettier, frontend-eslint

Handle image processing, deletion, and caching on backend
  backend/pyproject.toml
  backend/src/app/core/image_processing.py
  backend/src/app/core/middleware.py
  backend/src/app/core/storage.py
  backend/src/app/main.py
  backend/src/app/routes/listing_images.py
  backend/src/app/services/admin.py
  backend/src/app/services/listing.py
  backend/src/app/services/listing_image.py
  backend/uv.lock
Due: none

Update auth to prevent infinite loops and to wait for hydration
  frontend/src/contexts/AuthContext.tsx
Due: frontend-prettier, frontend-eslint

Add image staging for deletions and uploads
  frontend/src/app/listings/[listing_id]/edit/page.tsx
  frontend/src/app/listings/create/page.tsx
  frontend/src/components/listings/ImageUpload.tsx
Due: frontend-prettier, frontend-eslint

Rewrites to prevent hydration errors
  frontend/src/app/layout.tsx
  frontend/src/app/listings/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/custom/header-client.tsx
  frontend/src/components/custom/search.tsx
  frontend/src/components/ui/toaster-client.tsx
  frontend/src/queryOptions/createOwnListingsQueryOptions.ts
Due: frontend-prettier, frontend-eslint

Update settings.json
  .vscode/settings.json
Due: none

Only cache images and remove staletime
  backend/src/app/core/middleware.py
  frontend/src/app/listings/[listing_id]/edit/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/listings/SearchFilters.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/constants.ts
  frontend/src/queryOptions/createOwnListingsQueryOptions.ts
Due: frontend-prettier, frontend-eslint
