Repository SDSU-CompE-561-Fall-2025/aztec-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && bunx prettier --write'
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && bunx eslint --fix'
  language: system
  pass_filenames: true

Add Docker support for backend and frontend
  DOCKER-QUICK-REF.md
  DOCKER.md
  backend/.dockerignore
  backend/Dockerfile
  backend/src/app/main.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/package-lock.json
  package-lock.json
Due: frontend-prettier, frontend-eslint

Update docker-compose.yml
  docker-compose.yml
Due: none

Update DOCKER.md
  DOCKER.md
Due: none

Fixes
  .env.example
  DOCKER-QUICK-REF.md
  DOCKER.md
  README.md
  backend/alembic.ini
  backend/migrations/README
  backend/migrations/__init__.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4d95f908989a_add_email_verification_fields.py
  backend/migrations/versions/82d15f82389d_initial_schema.py
  backend/pyproject.toml
  backend/src/app/main.py
Due: none

Add PostgreSQL support and update Docker setup
  .env.example
  README.md
  backend/.env.example
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

Update default Postgres user to aztec_list
  .env.example
  docker-compose.yml
Due: none

Add Figma designs link to README
  README.md
Due: none

Change Figma Designs section header level
  README.md
Due: none

Add Jest and RTL testing setup
  frontend/README.md
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/listing-flow.test.tsx
  frontend/src/app/listings/[listing_id]/page.tsx
  frontend/src/app/profile/[user_id]/page.tsx
  frontend/src/components/custom/__tests__/header.test.tsx
  frontend/src/components/product-detail-01.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/hooks/__tests__/use-mobile.test.ts
  frontend/src/lib/__tests__/auth.test.ts
  frontend/src/lib/__tests__/profile-picture.test.ts
  frontend/src/lib/__tests__/utils.test.ts
  frontend/src/test-utils.tsx
  frontend/src/types/message.ts
Due: frontend-prettier, frontend-eslint

Update deps
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: frontend-prettier

docs: add CLAUDE.md with architecture and workspace command guide
  CLAUDE.md
Due: none

chore: add .gitattributes and gitignore Claude local settings
  .gitattributes
  .gitignore
Due: none

chore(backend): bump idna to 3.16 (CVE-2026-45409)
  backend/uv.lock
Due: none

fix(frontend): fully escape base URL in profile-picture test regex
  frontend/src/lib/__tests__/profile-picture.test.ts
Due: frontend-prettier, frontend-eslint

ci: auto-merge Dependabot minor/patch PRs once checks pass
  .github/workflows/dependabot-auto-merge.yml
Due: none

Bump backend deps: pyjwt, ruff, pydantic-settings + sync uv.lock
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add git conventions to CLAUDE.md: commit title only, no PRs
  CLAUDE.md
Due: none

Bump backend deps: pyjwt, ruff, pydantic-settings + sync uv.lock (#130)
  CLAUDE.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add uv.lock drift gate (CI check) + auto-relock pre-commit hook
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
Due: none

Add uv.lock drift gate (CI check) + auto-relock pre-commit hook (#131)
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
Due: none

Fix CodeQL alerts: path/log injection, insecure RNG, drop playwright report
  backend/src/app/core/email.py
  backend/src/app/core/logging_safe.py
  backend/src/app/core/storage.py
  backend/src/app/services/user.py
  frontend/.gitignore
  frontend/playwright-report/index.html
  frontend/tests/e2e/helpers/test-helpers.ts
Due: frontend-prettier, frontend-eslint

Clean up tests: drop duplicate/dead code, prune unused imports, etc.
  CLAUDE.md
  backend/tests/conftest.py
  backend/tests/integration/test_listing_moderation.py
  backend/tests/test_auth.py
  backend/tests/test_listing_images.py
  backend/tests/test_listings.py
  backend/tests/test_profiles.py
  backend/tests/test_route_errors.py
  backend/tests/test_users.py
  backend/tests/test_websocket_messages.py
  backend/tests/unit/test_admin_service.py
  backend/tests/unit/test_admin_service_listing_removal.py
  backend/tests/unit/test_email_service.py
  backend/tests/unit/test_listing_image_repository.py
  backend/tests/unit/test_listing_image_service.py
  backend/tests/unit/test_profile_repository.py
  backend/tests/unit/test_storage.py
  backend/tests/unit/test_user_repository.py
  backend/tests/unit/test_user_service.py
  frontend/tests/e2e/admin-access-control.spec.ts
Due: frontend-prettier, frontend-eslint

Clean up tests: drop duplicate/dead code, prune unused imports, etc. (#132)
  CLAUDE.md
  backend/tests/conftest.py
  backend/tests/integration/test_listing_moderation.py
  backend/tests/test_auth.py
  backend/tests/test_listing_images.py
  backend/tests/test_listings.py
  backend/tests/test_profiles.py
  backend/tests/test_route_errors.py
  backend/tests/test_users.py
  backend/tests/test_websocket_messages.py
  backend/tests/unit/test_admin_service.py
  backend/tests/unit/test_admin_service_listing_removal.py
  backend/tests/unit/test_email_service.py
  backend/tests/unit/test_listing_image_repository.py
  backend/tests/unit/test_listing_image_service.py
  backend/tests/unit/test_profile_repository.py
  backend/tests/unit/test_storage.py
  backend/tests/unit/test_user_repository.py
  backend/tests/unit/test_user_service.py
  frontend/tests/e2e/admin-access-control.spec.ts
Due: frontend-prettier, frontend-eslint

Add embeddings + Qdrant vector store services
  backend/.gitignore
  backend/pyproject.toml
  backend/src/app/core/settings.py
  backend/src/app/services/embeddings.py
  backend/src/app/services/vector_store.py
  backend/uv.lock
Due: none

Wire AI semantic search into listings
  backend/.env.example
  backend/scripts/reindex_listings.py
  backend/src/app/main.py
  backend/src/app/repository/listing.py
  backend/src/app/schemas/listing.py
  backend/src/app/services/listing.py
Due: none

Add tests for semantic search
  backend/tests/conftest.py
  backend/tests/integration/test_semantic_search.py
  backend/tests/unit/test_embeddings.py
  backend/tests/unit/test_vector_store.py
Due: none

Add Smart search UI
  frontend/src/app/listings/page.tsx
  frontend/src/components/listings/ListingCard.tsx
  frontend/src/components/listings/SearchFilters.tsx
  frontend/src/components/listings/SearchResults.tsx
  frontend/src/lib/api.ts
  frontend/src/types/listing/listing.ts
  frontend/src/types/listing/listingParams.ts
Due: frontend-prettier, frontend-eslint

Document semantic search design + tuning
  CLAUDE.md
  README.md
  backend/README.md
  docs/06-semantic-search.md
Due: none

Bump starlette to 1.0.1 (PYSEC-2026-161)
  backend/uv.lock
Due: none

Fix CodeQL log injection + unused import
  backend/scripts/reindex_listings.py
  backend/src/app/services/listing.py
Due: none

Document audit + security checks in CLAUDE
  CLAUDE.md
Due: none

Feat/ai semantic search (#133)
  CLAUDE.md
  README.md
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/pyproject.toml
  backend/scripts/reindex_listings.py
  backend/src/app/core/settings.py
  backend/src/app/main.py
  backend/src/app/repository/listing.py
  backend/src/app/schemas/listing.py
  backend/src/app/services/embeddings.py
  backend/src/app/services/listing.py
  backend/src/app/services/vector_store.py
  backend/tests/conftest.py
  backend/tests/integration/test_semantic_search.py
  backend/tests/unit/test_embeddings.py
  backend/tests/unit/test_vector_store.py
  backend/uv.lock
  docs/06-semantic-search.md
  frontend/src/app/listings/page.tsx
  frontend/src/components/listings/ListingCard.tsx
  frontend/src/components/listings/SearchFilters.tsx
  frontend/src/components/listings/SearchResults.tsx
  frontend/src/lib/api.ts
  frontend/src/types/listing/listing.ts
  frontend/src/types/listing/listingParams.ts
Due: frontend-prettier, frontend-eslint

Add AI shopping assistant (RAG backend)
  backend/.env.example
  backend/pyproject.toml
  backend/src/app/api/v1/routes.py
  backend/src/app/core/enums.py
  backend/src/app/core/llm.py
  backend/src/app/core/settings.py
  backend/src/app/models/ai_conversation.py
  backend/src/app/repository/ai_conversation.py
  backend/src/app/routes/ai.py
  backend/src/app/schemas/ai.py
  backend/src/app/services/ai_assistant.py
  backend/src/app/services/listing.py
  backend/src/app/services/rag.py
  backend/uv.lock
Due: none

Add AI assistant tests
  backend/tests/conftest.py
  backend/tests/integration/test_ai_assistant.py
  backend/tests/unit/test_llm.py
  backend/tests/unit/test_rag.py
Due: none

Add AI assistant chat UI
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/providers.tsx
  frontend/src/components/ai/AssistantSheet.tsx
  frontend/src/hooks/__tests__/useAIChat.test.ts
  frontend/src/hooks/useAIChat.ts
  frontend/src/lib/ai-api.ts
Due: frontend-prettier, frontend-eslint

Theme filter dropdowns + image priority
  frontend/src/components/listings/ListingCard.tsx
  frontend/src/components/listings/SearchFilters.tsx
  frontend/src/components/listings/SearchResults.tsx
Due: frontend-prettier, frontend-eslint

Document AI assistant + em-dash scrub
  CLAUDE.md
  README.md
  backend/README.md
  docs/06-semantic-search.md
  docs/07-ai-assistant.md
Due: none

Path conditions:
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
